*{
    padding: 0;
    margin: 0;
}
.container {
    display: grid; 
    grid-template-columns: 1.4fr 0.9fr 1.4fr; 
    grid-template-rows: 0.2fr 2fr 2fr 2.7fr 2.6fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Header Header Header"
      "Article Article img"
      "img2 Article2 Article2"
      "Forms Forms Forms"
      "img3 Promo Promo"
      "Footer Footer Footer"; 
  }
.Header {
    display: flex;
    justify-content: space-evenly;
    grid-area: Header;
    background-color: #F4C0CD;
}

.Header div,.Footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 95px;
    border-radius: 45px;
    background-color: white;
}
.Header div img{
    width: 70px;
    height: 90px;
    object-fit: contain;
}

.Article { 
    grid-area: Article; 
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.Article h1{
    font-family: 'Ingrid Darling';
    font-style: normal;
    font-weight: bolder;
    font-size: 80px;
    line-height: 149px;
    display: flex;
    align-items: center;
}
.Article p{
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 600px;
}
.Article h2{
    margin-top: 15px;
    margin-left: 30px ;
    font-family: 'IM FELL DW Pica SC';
    font-style: normal;
    font-weight: bolder;
    font-size: 70px;
    line-height: 75px;
}

.img{
    display: flex;
    justify-content: right;
}
.img div { 
    display: flex;
    grid-area: img;
    object-fit: contain;
}
.img div img{
    height: 814.81px;
}
.Article2 { 
    background-color: #F4C0CD;
    grid-area: Article2; 
    display: flex;
    justify-content: left;
}
.Article2 article{
    margin-left: 55px;
    margin-top: 100px;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    text-align: justify;
}
.Article2 article ul{
    margin-top: 5px;
    margin-left: 55px;
    margin-bottom: 5px;
    font-family: 'Imprima';
}


.Article2 article div p{
    width: 1000px;
}
.img2 { 
    grid-area: img2; 
    background-color: #F4C0CD;
    display: flex;
    justify-content: center;
}
.img2 div{
    object-fit: contain;
}
.img2 div img{
    margin-top: 10%;
    border-radius: 100px;
    width: 500px;
    height: 700px;
}
.Forms { 
    display: flex;
    justify-content: space-evenly;
    grid-area: Forms;
    background-color: #F4C0CD;
}

.Forms #Login_div {
    padding: 200px;
    float: left;
}

.Forms div h1{
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.Forms #Login{
    display: flex;
    justify-content: center;
    width: 320px;
    height: 260px;
    background-color: white;
    border-radius: 50px;
}

.Forms .login_forms, .Forms .Register_forms{
    display: flex;
    justify-content: center;
}
.Forms .wrapper-login{
    margin-top: 20px;

}

.Forms input{
    margin-top: 25px;
    width: 270px;
    height: 40px;
    border: 0;
    background-color: inherit;
    border-bottom: 1px solid black;
}

.Forms #Register_div{
    float: right;
    padding: 200px;
    height: 700px;
}


.Forms #Register{
    display: flex;
    justify-content: center;
    height: 600px;
    width: 370px;
    border-radius: 50px;
    background-color: #EB6077;
}

.Forms .wrapper-register{
    margin-top: 10px;
}
.Forms .Register_forms{
    display: flex;
    justify-content: center;
}
.Forms #checbox_div{
    display: flex;
}
.Forms #Checkbox_div{
    display: flex;
    margin-top: 30px;
    width: 310px;
}

.Forms #label_div{
    margin-left: 20px;
}

.Forms label{
    font-size: 20px;
}


input {
    font-family: 'Ingrid Darling';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: black;
}

input::placeholder{
    font-family: 'Ingrid Darling';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    color: black;
}
input[type='checkbox']{
    font-family: 'Ingrid Darling';
    margin: 0;
    width: 40px;
    height: 40px;
}


/* Remove o icone de calendário do input type date NÃO MEXER */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
input:focus{
    outline: 0;
}

.Promo { 
    grid-area: Promo; 
    margin-top: 130px;
}

.Promo ul,.Promo p,.Promo h2{
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 100px;
    width:fit-content
}

.Promo ul{
    margin-left: 35px;
    line-height: 90px;
}

.Promo h2{
    margin-top: -15px;
    margin-left: -5px;
    font-size: 100px;
}

.Promo #premium-button{
    margin-left: 65px;
    margin-top: 25px;
}

.Promo #premium-button button{
    background-color: #F4C0CD;
    height: 88px;
    width: 344px;
    border: 0;
    border-radius: 50px;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 42px;
}


.img3 {
    grid-area: img3;
    margin-top: 20%;
    margin-left: 15%;
}
.img3 div {
    display: flex;
    justify-content: center;
    width: 800px;
    object-fit: contain;
}
.img3 #text{
    font-family: 'Ingrid Darling';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 74px;
    margin-top: -10px;
}
.img3 div img{
    height: 500px;
    margin-left: 50px;
}
.Footer { 
    grid-area: Footer; 
    display: flex;
    justify-content: space-evenly;
    background-color: #F4C0CD;
}
.Footer div {
    height: 100px;
    width: 100px;
    background-color: inherit;
    margin-top: 60px;
}

.Footer div img{
    object-fit: contain;
    height: 90px;
    width: 90px;
}

.Footer #main-icon{
    height: 180px;
    width: 180px;
    margin-top: 10px;
    background-color: white;
    border-radius: 145px;
}
.Footer #main-icon img{
    height: 180px;
    width: 180px;
}